.wrapper {
    display: flex;
    flex-direction: column;
    height: 100vh;
  }
  
  .box {
    flex: 1;
  }
  
  .red {
    background-color: red;
  }
  
  .yellow {
    background-color: yellow;
  }
  
  .green {
    background-color: green;
  }
  
  .blue {
    background-color: blue;
  }
  